#tumpukan {
    background-color: #99cccc;
    position: absolute;
    border: solid 1px black;
    width: 200px;
}

#antarmuka {
    position: absolute;
    left: 300px;
}

#info-kosong {
    width: 200px;
    background-color: black;
    color: white;
}

#data-tumpukan {
    width: 200px;
    background-color: black;
    color: white;
}